
<strong>Short URL's</strong>
<%= form_tag("/urls", method: "post") do %>
  <%= label_tag(:url, "New Url:") %>
  <%= text_field_tag(:url) %>
  <%= submit_tag("Submit") %>
<% end %>
<table>
	<thead>
		<th>Id</th>
		<th>Url</th>
		<th>Short url</th>
		
	</thead>
	<tbody>
		<% @urls.each do |url| %>
			<tr>
				<td>https://evening-reaches-43731.herokuapp.com/<%= url.id %></td>
				<td><%= url.url %></td>
				<td>https://evening-reaches-43731.herokuapp.com/alt/<%= url.short %></td>
			</tr>
		<% end -%>
	</tbody>
</table>
